{% extends "body.html" %}

{% block content %}

<div class="home">
  
  <h1>{{ page.params.heading }}</h1>
  {{ page.content }}

  {% if site.data.links.ssg %}
  <h5>Supported SSG</h5>
  <ul>
  {% for link in site.data.links.ssg %}
    <li>{{ link.title }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if site.data.links.cms %}
  <h5>Supported CMS</h5>
  <ul>
  {% for link in site.data.links.cms %}
    <li>{{ link.title }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if page.params.show_button %}
    {% include "homepage_button.html" %}
  {% endif %}
  
</div>

{% endblock %}
